# Núcleo científico e Spark
pyspark==4.1.1
findspark
pandas
numpy

# para compatibilidade con delta
delta-spark==4.1.0

# JupyterLab e widgets
jupyterlab
ipywidgets

# Visualización
matplotlib
seaborn
plotly

# Extra (opcional)
notebook

# kafka
kafka-python
requests
