# Núcleo científico e Spark
pyspark==4.0.2
findspark
pandas
numpy

# para compatibilidade con delta
delta-spark==4.0.1

# JupyterLab e widgets
jupyterlab
ipywidgets

# Visualización
matplotlib
seaborn
plotly

# Extra (opcional)
notebook

# kafka
kafka-python
requests
